body, html {
    font-family: sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}
.noSelect {
    /*From user smts on stackoverflow.com*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.container > li {
    padding: .5em;
    text-align: center;
    align-self: center;
    font-size: 1em;
    color: #51b8bc;
    box-sizing: border-box;
    background-color: #FFFFFF;
    list-style-type: none;
    font-family: sans-serif;
    border-radius: 0.25em;
    transition: background-color 0.25s;

}

.container a {
    text-decoration: none;
    color: inherit;
}

.container > .navbar-link:hover {
    background-color: #EFEFEF;
    /*border: 0.05em solid #51b8bc;
    padding: 0.45em;*/
    transition: background-color 0.25s;
}

.container {
    position: relative;
    padding: .5em 1em;
    top: 0;
    left: 0;
    margin: 0 0 1em 0;
    display: flex;
    background-color: #FFFFFF;
    border-bottom: 0.05em solid rgba(107, 107, 107, 0.25);
    box-shadow: 5px 10px 20px -20px rgb(107, 107, 107);
}

.short-bar {

}

.navbar-spacer {
    flex: 1;
}

@media all and (max-device-width: 600px) {

    .container {
        flex-wrap: wrap;
    }

    .navbar-spacer {
        display: none;
    }

    .container > li {
        flex-basis: 50%;
    }
}

@media all and (max-device-width: 400px) {
    .container > li {
        flex-basis: 100%;
    }

    .navbar-spacer {
        display: none;
    }
}

.question-editor {
    background-color: #FFFFFF;
    border: 0.05em solid #51b8bc40;
    border-radius: 0.5em;
    margin-bottom: 1em;
    padding: 0.5em;
    transition: width 0.25s 0.125s, height 0.25s 0.125s, opacity 0.125s;
    display: flex;
    flex-direction: column;
}
.question-editor * {
    transition: opacity 0.0625s;
}
.hidden {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    transition: width 0.25s 0.125s, height 0.25s 0.125s, opacity 0.125s;
}
.hidden * {
    opacity: 0;
    transition: opacity 0.0625s;
}

.new-button {
    font-size: 8em;
    background-color: #51b8bc;
    color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 1em auto 1em auto;
}



.text-input * {
    border-radius: 0.5em;
    border: none;
    width: 100%;
    padding: 0.5em;
    outline: none;
    box-sizing: border-box;
}

.close-button {
    font-size: 0.5em;
    padding: 0.75em 0.75em;
    text-align: center;
    background-color: #51b8bc;
    color: #FFFFFF;
    border-radius: 15%;
    border: none;
    cursor: pointer;
    margin-left: auto;
}
.editor-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    border-bottom: .05em solid #3F3F3F;
}

.text-input {
    display: inline-block;
    width: 100%;
}

.text-input *:focus {
    border: 0.05em solid #51b8bc30;
}

.text-input input {
    font-size: 1.25em;
    border-radius: 0.25em;
    padding: 0.25em;
    border: 0.05em solid #51b8bc30;
}

.text-input textarea {
    resize: vertical;
    border: 0.05em solid #51b8bc20;
}

.content {
    margin: auto;
    text-align: left;
}

.submit-area {
    display: flex;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.pub-checkbox input[type="checkbox"] {
    opacity: 0;
}

.pub-checkbox label::after {
    content: "";
    display: inline-block;
    height: .75em;
    width: .75em;
    border: 0.05em solid #FFFFFF;
    margin-left: 0.5em;
    border-radius: .375em;
    background-color: #FFFCFF;
}

.pub-checkbox input[type="checkbox"]:checked + label::after {
    background-color: #FFFFFF;
}

.submit-button {
    margin-right: auto;
    margin-left: -6em;
    border-radius:  0 0.5em 0.5em 0;
    border: 0.05em solid #51b8bc40;
    background-color: #51b8bc;
    color: #FFFCFF;
    padding: 0.4em 3em;
    transition: color 0.25s, background-color 0.25s;
    font-size: 1em;
}

.question-editor .submit-button {
	border-radius:  0.5em;
	margin-left: auto;
	margin-right: 0.5em;
}

.submit-button:hover {
    transition: color 0.25s, background-color 0.25s;
    cursor: pointer;
    background-color: #3198ac;
    color: #FFFFFF;
}

.sign-out-button {
    margin-right: 1em;
    margin-left: auto;
    border-radius: 0.5em;
    border: 0.05em solid #51b8bc;
    background-color: #FFFFFF;
    color: #51b8bc;
    padding: 0.5em;
    transition: color 0.25s, background-color 0.25s;
    font-size: 1em;
    cursor: pointer;
}

.sign-out-button:hover {
    background-color: #51b8bc;
    color: #FFFFFF;
    transition: color 0.25s, background-color 0.25s;
}

@media all and (min-device-width: 768px) {
    .content {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        padding-left: 15vw;
        padding-right: 15vw;
    }
}

.question-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 0.5fr));
    grid-gap: 0.5em;
    grid-auto-rows: 1fr;
}

.question-card {
    background-color: #FFFFFF;
    border: 0.05em solid #51b8bc40;
    border-radius: 0.5em;
    box-shadow: 5px 10px 20px -20px rgba(85, 172, 238, 1);
    padding: 1em;
}
.question-card:hover{
    background-color: #FFFCFF;
    border: 0.05em solid #51b8bcA0;
    border-radius: 0.5em;
    box-shadow: 5px 10px 20px -20px rgba(85, 172, 238, 1);
    cursor: pointer;
}

.question-card a {
    color: #51b8bc;
}
.response-cards {
    display: flex;
    flex-direction: column-reverse;
    margin: 0.5em;
}

.response-card {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: stretch;
    padding: 1em;
    background-color: #FFFFFF;
    border: 0.05em solid #51b8bc40;
    border-radius: 0.5em;
    box-shadow: 5px 10px 20px -20px rgba(85, 172, 238, 1);
}
.response-card:hover{
    background-color: #FFFCFF;
    border-color: #51b8bc;
    box-shadow: 5px 10px 20px -20px rgba(85, 172, 238, 1);
}

.response-card a {
    color: #51b8bc;
}
.response-markers {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.marker-button {
    background-color: darkgrey;
    color: white;
    border: none;
    height: 100%;
    padding: 1em;

}
.correct-button {
    background-color: #A4DEA9;
    border-radius: 0.5em 0 0 0.5em;
}
.correct-button:hover {
    background-color: #84DE89;
}
.wrong-button {
    background-color: #DEA4A9;
    border-radius: 0 0.5em 0.5em 0;
}
.wrong-button:hover {
    background-color: #DE8489;
}
.marker-button.inactive {
    background-color: darkgrey;
    color: white;
}
.response-editor {
    background-color: #FFFFFF;
    border: 0.05em solid #51b8bc40;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    padding: 1em;
}
.response-editor > * {
    margin-top: 0.5em;
}
.question-body-card {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: stretch;
    background-color: #FFFFFF;
    border: 0.05em solid #51b8bc40;
    border-radius: 0.5em;
    margin-bottom: 2em;
    box-shadow: 5px 10px 20px -20px rgba(85, 172, 238, 1);
    padding: 1em;
}

.response-editor .submit-button{
	border-radius:  0.5em;
    margin-right: 1em;
    margin-left: auto;
}
.response-textarea {
    margin-right: 3vw;
    width: 100%;
    border-radius: 0.25em;
    border-color: #51b8bc30;
    resize: vertical;
}
.response-textarea:active {
    border-color: #51b8bcD0;
}
.imgur {
    font-size: small;
    cursor: pointer;
    border-radius: 0.5em;
    border: 0.1em solid #51b8bc30;
    color: #51b8bc;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
.imgur:hover {
    cursor: pointer;
    border-radius: 0.5em;
    border: 0.1em solid #51b8bc30;
    background-color: #51b8bc;
    color: white;
    padding: 0.5em;
    transition: background-color 0.125s;
}
.image-url {
    resize: none;
}
#imageCode {
    display: flex;
    flex-direction: column;
}
.add-tag-dialog {
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 2em;
    border: #51b8bc solid .1em;
    border-radius: .5em;
    background-color: white;
    margin-left: -10em;
    margin-top: -5em;
    -webkit-box-shadow: 6px 6px 24px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 24px -5px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 24px -5px rgba(0,0,0,0.75);
}
.response-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    color: #51b8bc;
}
.response-tag {
    display: inline;
    background-color: #51b8bc;
    color: white;
    padding: 0.2em;
    border-radius: 0.7em;
}