{% extends "template.html" %}
{%  block Page %} 403 Forbidden {% endblock %}
{% block Content %}
<h1>Sorry, you're not authorized to view this</h1>
<h2>Would you like to go back to the <a href="{{ url_for('main_page') }}">front page</a>?</h2>
{% endblock %}