{% extends "template.html" %}
{%  block Page %} 404! {% endblock %}
{% block Content %}
<h1>Sorry, couldn't find what you were looking for</h1>
<h2>Would you like to go back to the <a href="{{ url_for('main_page') }}">front page</a>?</h2>
{% endblock %}