{% extends "template.html" %}
{% block Page %} Dashboard {% endblock %}
{% block Content %}
    <form method="post" action="{{ url_for('add_question') }}" class="question-editor hidden" id="questionEditor">
        <div class="editor-header">
            <h2>Make a new question</h2>
            <button class="close-button" onclick="closeEditor(event);"><i class="fas fa-times"></i></button>
        </div>
        <p>
            <label class="text-input noSelect">
                <input name="title" type="text" placeholder="Your Question's Title" required/></label>
        </p>
            <label class="text-input noSelect">
                <textarea name="body" class="body-textarea"
                          placeholder="Optional Question Body In Markdown..." id="bodyText"></textarea></label>

            <label class="imgur"> <i class="far fa-file-image"></i> Insert Image
                <input type="file" accept="image/*" data-max-size="5000" onchange="uploadImage(this, 'bodyText');"
                       hidden/>
            </label>

        <p class="submit-area">
            <!--<span class="pub-checkbox">  <input id="public" name="public" type="checkbox" /><label for="public">Public</label> </span>-->
            <input class="submit-button" type="submit"/>
        </p>
    </form>
    <p style="font-size: 0.75em;">
        Your live shortcode (give to your students to get your latest question) : <a
            href="{{ url_for('question_page',shortcode=live_code) }}">{{ live_code }}</a>
    </p>
    <div class="question-cards">
        <div class="question-card" id="newButton" onclick="newQuestion();">
            <div class="new-button">+</div>
        </div>
        {% for q in questions.questions %}
            <div class="question-card">
                {% set current = questions.get_question(q) %}
                <h2>{{ current.title }}</h2>
                <!--<p> {{ current.render() | safe }} </p> -->
                <p>Link / shortcode to copy: <a href="/q/{{ current.ID }}">{{ current.ID }}</a></p>
                <p>Responses: <a href="/r/{{ current.ID }}">/r/{{ current.ID }}</a></p>

                    <p>Share:</p>
                    <div  style="display: flex;flex-direction: row; align-items: center; justify-content: space-around;">
                        <div class="g-sharetoclassroom" data-url="{{ request.url_root[:-1] + '/q/' + current.ID }}">Classroom</div>
                        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?url={{ request.url_root[:-1] + '/q/' + current.ID }}&text={{ current.title }}"
                        data-dnt="true" data-size="large">Tweet</a>
                        <a href="{{url_for('share_page', shortcode=current.ID)}}" style="text-decoration: none; background-color:#51b8bc;color:white;border-radius: 0.25em;padding:0.33em;">Project</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}