{% extends "template.html" %}
{%  block Page %} Home {% endblock %}
{% block Content %}
<form action="{{ url_for('question_page') }}" method="GET" style="display: flex;" class="short-bar">
    <label class="text-input">
    <input name="shortcode" type="text" placeholder="Enter Shortcode..." required/></label>
    <input class="submit-button" type="submit"/>
</form>
{% endblock %}