<nav>
  <ul class="container">
    <li><a href="{{ url_for('dashboard_page') }}">QABoard</a></li>
    <li class="navbar-spacer"></li>
    <li><a href="{{ url_for('main_page') }}"><span class="typcn typcn-user-outline">Profile</span></a></li>
    <li><a href="{{ url_for('login_page') }}">Login</a></li>
  </ul>
</nav>