{% extends "template.html" %}
{% block Page %} {{ question.title }} {% endblock %}
{% block Content %}
    {% if question %}
        <div class="question-body-card">
            <h2> {{ question.title }}</h2>
            <p> {{ question.render() | safe }} </p>
            <small><em> The question has shortcode {{ question.ID }}</em></small>
        </div>
        {% if user_name %}
            <form method="post" action="{{ url_for('add_response', shortcode=question.ID) }}" class="response-editor">
                <label for="response" style="flex: 2;"> <h2>Response:</h2>
                    <textarea name="response" class="response-textarea noSelect" id="responseText"></textarea>
                </label>
                <label class="imgur"> <i class="far fa-file-image"></i> Insert Image
                    <input type="file" accept="image/*" data-max-size="5000" onchange="uploadImage(this, 'responseText');" hidden/>
                </label>
                <input type="submit" value="Submit Response" class="submit-button"/>
                <small><em>Submitted by {{ user_name }}</em></small>
            </form>
        {% else %}
            <em><strong>You need to sign in first</strong></em>
        {% endif %}
        {% if teacher_obj %}
            <a href="{{ url_for('response_page', question_id=question.ID) }}">Responses</a>
        {% endif %}
    {% else %}
        <h2> Why are you even here?</h2>
    {% endif %}
{% endblock %}