{% extends "template.html" %}
{% block Page %} Responses {% endblock %}
{% block Content %}
    <div class="response-cards">
        {% for response in responses.responses %}
            <div class="response-card" id="{{ response.id }}">
                <div class="response-content">
                    <p> {{ response.render() | safe }} </p>
                    <small> By {{ response.owner }}, ID: {{ response.id }}
                        <div class="response-tags">
                            {% if response.tags %}
                                {% for tag in response.tags %}
                                    {% if tag != '' %}
                                        <div class="response-tag">
                                            <div>{{ tag }}</div>
                                            <div onclick="removeTag(this.parentNode, '{{ responses.questionId }}', '{{ response.id }}')">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div onclick="openAddTagDialog(this)" class="add-tag" data-response-id="{{ response.id }}">
                                <i class="fas fa-plus-circle"></i>
                            </div>
                        </div>
                    </small>
                </div>
                <div style="flex: 2"></div>
                <div class="response-markers">
                    <a href="#" onclick="addTag('{{ responses.questionId }}', '{{ response.id }}', 'correct')" class="correct-button marker-button noSelect"><i class="fas fa-check"></i></a>
                    <a href="#" onclick="addTag('{{ responses.questionId }}', '{{ response.id }}', 'wrong')" class="wrong-button marker-button noSelect"><i class="fas fa-times"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
        /**
         * Callback function that inserts a list of responses into the displayed list of responses, making a dynamic UI of sorts.
         *
         * @param responses
         */
        function updateResponses(responses) {
            if (responses) {
                console.log(responses);
                for (var i = 0; i < responses.length; i++) {
                    let response = responses[i];
                    if (!document.getElementById(response.id)) {
                        //Generating the container for holding all of the information
                        var node = document.createElement("div");
                        node.classList.add('response-card');
                        node.id = response.id;
                        let responseContent = document.createElement("DIV");
                        responseContent.classList.add("response-content");
                        let responseBody = document.createElement("P");
                        responseBody.innerHTML = response.body;
                        let responseId = document.createElement("SMALL");
                        responseId.innerText = "ID: " + response.id;
                        responseId.innerText += ", By: " + response.owner;
                        responseId.innerHTML += ('<div onclick="openAddTagDialog(this)" class="add-tag" data-response-id="{}">' +
                            '<i class="fas fa-plus-circle"></i></div>').split("{}").join(response.id);
                        responseContent.appendChild(responseBody);
                        responseContent.appendChild(responseId);
                        node.appendChild(responseContent);
                        node.innerHTML += '<div style="flex: 2;"></div><div class="response-markers">\n' +
                            ('<a href="#" onclick="addTag(\'{{ responses.questionId }}\', \'{}\', \'correct\')" class="correct-button marker-button noSelect">' +
                                '<i class="fas fa-check"></i></a>').split("{}").join(response.id) +
                            ('<a href="#" onclick="addTag(\'{{ responses.questionId }}\', \'{}\', \'wrong\')" class="wrong-button marker-button noSelect">' +
                                '<i class="fas fa-times"></i></a>').split("{}").join(response.id) +
                            '</div>';
                        document.getElementsByClassName("response-cards")[0].appendChild(node);
                    }
                }
            }
            window.setTimeout(function () {
                console.log("Retrieving... at", performance.timeOrigin);
                retrieveResponses("{{ responses.questionId }}", updateResponses);
            }, 3000);
        }

        /**
         * Show the dialog to add a tag.
         *
         * @param callingElement
         */
        function openAddTagDialog(callingElement) {
            let dialog = "<form action=\"#\" onsubmit=\"handleSubmit(this, '{}', event);return false;\" class=\"add-no-hide\">\n".split("{}").join(callingElement.dataset.responseId)  +
                "                    <input type=\"text\" name=\"tag\" value=\"tag...\"/ class=\"add-no-hide\">\n" +
                "                    <input type=\"submit\" class=\"add-no-hide\"/>\n" +
                "                </form>"
            let el = document.createElement("DIV");
            el.className = "add-tag-dialog";
            el.innerHTML = dialog;
            var closeTagDialog;

            function removeListener() {
                document.removeEventListener("click", closeTagDialog);
            }

            closeTagDialog = function (event) {
                if(event.target.className != "add-no-hide" && event.target.className != "add-tag-dialog"&& event.target != callingElement) {
                    el.remove();
                    removeListener();
                }
            }
            window.setTimeout(function () {
                document.addEventListener("click", closeTagDialog);
            }, 100);
            document.getElementsByClassName("content")[0].appendChild(el);
        }

        function handleSubmit(formElement, responseId, event) {
            event.preventDefault();
            let idToken = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().id_token;
            let questionId = "{{ responses.questionId }}";
            let tag = formElement.elements.tag.value;
            addTag(questionId, responseId, tag, function () {
                formElement.parentElement.remove();
                responseTags = document.getElementById(responseId).getElementsByClassName("response-tags")[0];
                let el = document.createElement("DIV");
                el.className = "response-tag";
                el.innerHTML = '<div>{}</div>\n'.split('{}').join(tag) +
                    '<div onclick="removeTag(this.parentNode, \'{{ responses.questionId }}\', \'{}\')">\n'.split('{}').join(responseId) +
                    '<i class="fas fa-times-circle"></i>\n' +
                    '</div>\n';
                responseTags.appendChild(el);
            })
        }

        window.setTimeout(function () {
            console.log("Retrieving... at", performance.timeOrigin);
            retrieveResponses("{{ responses.questionId }}", updateResponses);
        }, 3000);
    </script>
    <a href="/q/{{ responses.questionId }}">Back to the question page.</a>
{% endblock %}