<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question.title }} - QABoard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='qastyles.css') }} "/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134186408-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-134186408-1');
    </script>

    </head>
<body>
<div class="content" style="margin: auto;">
    {% if question %}
        <div class="question-body-card">
            <p>Go to <a href="{{request.url_root}}">{{request.url_root}}</a> and enter this code: <h1 style="font-size: 8em;">{{ question.ID }}</h1></p>
            <h2> {{ question.title }}</h2>
            <p> {{ question.render() | safe }} </p>
        </div>
    {% else %}
        <h2> Why are you even here?</h2>
    {% endif %}
</div>
</body>
</html>