<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block Page %}{% endblock %} - QABoard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='qastyles.min.css') }} "/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js">
    </script>
    <script>window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134186408-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-134186408-1');
    </script>

    <meta name="google-signin-client_id"
          content="573153032143-nrtmn326qeoche2ks8d0rdok5t129m72.apps.googleusercontent.com">

</head>
<body>
<nav>
    <ul class="container">
        <li class="navbar-link"><a href="{{ url_for('main_page') }}">QABoard</a></li>
        <li class="navbar-spacer"></li>
        {% if not user_name %}
            <li>
                <div class="g-signin2" data-onsuccess="onSignIn"
                     data-scope="profile email openid"></div>
            </li>
        {% else %}
            <li>Hello, {{ user_name }}</li>
            <li class="navbar-link">
                <a href="{{ url_for('dashboard_page') }}">
                    <span class="typcn typcn-user-outline">Dashboard</span>
                </a></li>
            {% if not teacher_obj %}
                <li class="navbar-link"><a href={{ url_for('token_receive') }}>Authorize as a teacher</a></li>
            {% endif %}
            <li>
                <div class="g-signin2" data-onsuccess="setIdToken"
                     data-scope="profile email openid"></div>
            </li>
            <li>
                <button class="sign-out-button" onclick="signOut();" onload="init();">Sign Out</button>
            </li>
        {% endif %}
    </ul>
</nav>
<div class="content">
    {% block Content %} {% endblock %}
</div>
<script type="text/javascript">
    //Setting variables
    let logOutUrl = '{{ request.url_root[:-1] + url_for('log_out') }}';
    let responsesUrl = '{{ request.url_root[:-1] + url_for('api_get_responses') }}';
    let imgurKey = '{{ imgur_id }}';
    let removeTagUrl = '{{ request.url_root[:-1] + url_for('api_tag_remove') }}';
    let addTagUrl = '{{ request.url_root[:-1] + url_for('api_tag_response') }}';
    let signInUrl = '{{ request.url_root[:-1] + url_for('token_auth') }}';
    {%if user_name %}
        let userSignedIn = true;
    {% else %}
        let userSignedIn = false;
    {% endif %}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='communications.min.js') }}"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      config: ["MMLorHTML.js"],
      jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
      extensions: ["MathMenu.js", "MathZoom.js","fast-preview.js"]
    });




</script>
</body>
</html>