<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block Page %}{% endblock %} - QABoard</title>
    <link rel="stylesheet" href="/Board%20Prototype/static/qastyles.css"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
          content="629005523554-dddq60v573mgf76fg4rlglid6pjceift.apps.googleusercontent.com">

</head>
<body>
<nav>
    <ul class="container">
        <li class="navbar-link"><a href="{{ url_for('dashboard_page') }}">QABoard</a></li>
        <li class="navbar-spacer"></li>
        <li class="navbar-link"><a href="{{ url_for('main_page') }}"><span class="typcn typcn-user-outline">Profile</span></a></li>
        <li>
            <div class="g-signin2" data-onsuccess="onSignIn"
                 data-scope="profile email openid https://www.googleapis.com/auth/drive.file"></div>
        </li>
        <li>
            <button class="sign-out-button" onclick="signOut();">Sign Out</button>
        </li>
    </ul>
</nav>
<div class="content">
    <form method="post" action="/add/" class="question-editor" id="questionEditor" style="display: none;">
        <p>
            <label class="text-input">
                <input name="title" type="text" placeholder="Your Question's Title"/></label>
        </p>
        <p>
            <label class="text-input">
                <textarea name="body" class="body-textarea"
                          placeholder="Your Question's Body In Markdown..."></textarea></label>
        </p>
        <p class="submit-area">
            <!--<span class="pub-checkbox">  <input id="public" name="public" type="checkbox" /><label for="public">Public</label> </span>-->
            <input class="submit-button" type="submit"/>
        </p>
    </form>
    <div class="question-cards">
        <div class="question-card" id="newButton" onclick="newQuestion();">
            <div class="new-button">+</div>
        </div>
            <div class="question-card">
                <h2>{{ current.title }}</h2>
                <!--<p> {{ current.render() | safe }} </p> -->
                <p>Link: <a href="/q/{{ current.ID }}">/q/{{ current.ID }}</a></p>
                <small> By {{ current.owner }}</small>
            </div>
        <div class="question-card">
            <h2>{{ current.title }}</h2>
            <p>Link: <a href="/q/{{ current.ID }}">/q/{{ current.ID }}</a></p>
            <small> By {{ current.owner }}</small>
        </div>
        <div class="question-card">
            <h2>{{ current.title }}</h2>
            <p>Link: <a href="/q/{{ current.ID }}">/q/{{ current.ID }}</a></p>
            <small> By {{ current.owner }}</small>
        </div>
        <div class="question-card">
            <h2>{{ current.title }}</h2>
            <p>Link: <a href="/q/{{ current.ID }}">/q/{{ current.ID }}</a></p>
            <small> By {{ current.owner }}</small>
        </div>
    </div>
</div>
<script type="text/javascript">
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        console.log('CODE 1 : ' + googleUser.getAuthResponse().id_token);
        auth2 = gapi.auth2.getAuthInstance();
        auth2.grantOfflineAccess().then(offAcc)
    }

    function offAcc(authResult) {
        console.log('OFF CODE: ' + authResult['code']);
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

    function newQuestion() {
        document.getElementById("questionEditor").style.display = "";
        document.getElementById("newButton").style.display = "none";
    }

    /*function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'localhost:5000/{{ url_for('token_auth') }}');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
    }*/
</script>
</body>
</html>